TELEGRAM_BOT_TOKEN=
ALLOWED_TELEGRAM_USER_ID=
ANTHROPIC_API_KEY=
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
# La private key debe estar entre comillas y con \n literal entre líneas
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
